{% extends 'menubar.html' %}

{% block logo %}
<a class="navbar-brand js-scroll-trigger" href="/logo_index"><img src="../static/assets/img/examlogo.png"
    style="width:12rem; height:6rem;"></a>
{% endblock %}

{% block content %}

    <style>
        button:focus{
        outline:0;
        }
        button:hover{
        background-color: rgba(86, 42, 247, 0.9);
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(86, 42, 247, 0.9);
        }
    </style>
    <!-- 서비스 소개-->
    <section class="page-section">
        <div class="container text-center">
            <img src="../static/assets/img/exambg.png" style="width:100%;">
            {% if 'email' in session %}
            <a href="/transactions/new">
            <button style="width:200px;height:60px;background-color: #4D51F9;color: white;box-shadow: 0 4px 16px rgba(86, 42, 247, 0.3);font-size: 40px;font-weight: bold;border-radius: 20px;position: absolute;top: 50%;left:30%;transform: translate(-50%,50%);transition: 0.3s;text-align: center;">
                DID 발급
            </button>
            </a>
            <!-- <a href="{{ url_for('seoul') }}"> -->
            <button style="width:200px;height:60px;background-color: #4D51F9;color: white;box-shadow: 0 4px 16px rgba(86, 42, 247, 0.3);font-size: 40px;font-weight: bold;border-radius: 20px;position: absolute;top: 50%;left:70%;transform: translate(-50%,50%);transition: 0.3s;text-align: center;" onclick="window.location.href='http://localhost:5001/'" type="button">
                DID 검증
            </button>
            {% endif %}
        </div>
    </section>

    <hr>

{% endblock %}

{% block endlogo %}
<img src="../static/assets/img/examlogo.png" style="width:12rem; height:6rem;">
{% endblock %}