{% extends 'menubar.html' %}
{% block content %}
    <!-- 페이지 설명 섹션-->
    <section class="page-section bg-light" >
        <div class="container" style=" font-size : 2.2rem;">
            로그인
        </div>
    </section>

    {% for message in get_flashed_messages() %}
    <h2>{{ message }}</h2>
    {% endfor %}

    <!-- 로그인 섹션 -->
    <section class="page-section text-center" style="padding:4rem;">
        <!-- 아이콘-->
        <div class="container" style="font-size : 2rem;">
            <img src="static/assets/img/exammainlogo.png" style="width:15%; height:15%">
        </div>
        <br>
        <!-- 로그인 폼-->
        <div class="container">     
            <form action='/login' name='login' method='POST' style="width:40%; margin: 0 auto;">    
                <label class="w3-xlarge"><b>지문 아이디</b></label>
                <button formaction="/check" method='POST'>
                    지문확인
                </button>
                {% if check %}
                <input class="w3-input w3-border w3-round-xxlarge" type="password" name="finger" value="{{check}}">
                {% else %}
                <input class="w3-input w3-border w3-round-xxlarge" type="password" name="finger" placeholder="다시입력">
                {% endif %}
                <br>
                <!--<label class="w3-xlarge"><b>비밀번호</b></label>
                <input class="w3-input w3-border w3-round-xxlarge" type="password" name="password" placeholder="PASSWORD">
                <br><br>-->

                <!-- 버튼-->
                <input class="myinput" type="submit" value="로그인">
                &nbsp;&nbsp;&nbsp;
                <button class="mybutton3" type="button" onclick = "location.href='/registerpage' ">회원가입</button>
            </form>
        </div>
    </section>

{% endblock %}